*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item img{
    width: 30vw;
    height: 40vh;
}
.slide{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item p{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

img:hover{
    transition: 1s;
    transform: scale(1.1);
}