*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item img{
    width: 18.75em;
    height: 30vh;
}
.slide{
    /* height: 68.3vh; */
    width: 75%;
    /* background-color: rgba(0, 0, 0, 0.573); */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20vh;
}
.carousel{
    display: flex;
    justify-content: center;

}
.item p{
    color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
}
img:hover{
    transition: 1s;
    transform: scale(105%);
}

/* .videoCarousel{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 50%;
  } */

  @media (max-width: 425px){
    .item img{
        height: 20rem;
        width: 15rem;
    }
  }


  .carrouselContainer{
    margin-top: 100vh;
    z-index: 5;
  }