*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideCitie{
    display: flex;
    flex-wrap: wrap;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8155637254901961) 20%, rgba(60,60,82,0.8379726890756303) 50%, rgba(32,33,47,0.927608543417367) 83%);
    padding-top: 2rem ;
    padding-bottom: 2rem;
}

.slideCitie{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    gap: 2rem;

    /* position: absolute;
    top: 0%; */
}

.citieItem img{
    width: 30em;
    height: 30vh;
    border-radius: 10px;
}

.citieItem a{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: large;
    text-decoration: none;
}


@media (max-width: 425px){
    .citieItem img{
        width: 15em;
        height: 30vh;
    }
}

a:hover{
    color: aquamarine;
}

.containerCit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.425);
    flex-grow: 1;
}


.videoCarousel{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 30%;
    position: fixed;
    top: 0;
    z-index: -1;
}