*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideCitie{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(20,20,22);
    background: linear-gradient(90deg, rgba(20,20,22,0.8155637254901961) 0%, rgba(7,7,8,0.8379726890756303) 19%, rgba(32,33,47,0.927608543417367) 100%);
    padding-top: 2rem ;
    padding-bottom: 2rem;
}

.slideCitie{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 2rem;
}

.citieItem img{
    width: 30em;
    height: 30vh;
    border-radius: 10px;
}

.citieItem a{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: large;
    text-decoration: none;
}


@media (max-width: 425px){
    .citieItem img{
        width: 15em;
        height: 30vh;
    }
}

a:hover{
    color: aquamarine;
}