* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
  }


  .footer2-container{
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: azure;
    gap: 4px;
    height: 12vh;
    background: rgb(20,20,22);
    background: linear-gradient(90deg, rgba(20,20,22,1) 2%, rgba(9,9,13,0.8379726890756303) 62%, rgba(32,33,47,1) 100%);
  }



  .navFooter a{
    color: white;

    
    padding: 0.5rem;
  }

  .buttonGoTop{
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    opacity: 50%;
    color: black;
  }