.containerFrom{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.buttonInp{
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    opacity: 50%;
    color: black;
    
}

button:hover{
    transition: 0.5s;
    transform: scale(105%);
}