.contenedorUnder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 5rem;  
    height: 88vh;
}

.contenedorUnder img{
    width: 24rem;
    height: 14.2rem;
}

.buttonBack{
    background-color: unset;
    border: unset;
}


@media (max-width: 425px){
.contenedorUnder img{
    width: 10rem;
    height: 35vh;
}
}