.contenedorUnder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
}

.contenedorUnder img{
    width: 24rem;
    height: 69vh;
}

.buttonBack{
    background-color: unset;
    border: unset;
}
