.container-init {
  position: absolute;
  top: 0%;
  /* left: 30vw; */
  text-align: center;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 40px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
html {
  overflow-x: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 50%;
  position: fixed;
  z-index: -1;
}

.titulo-init {
  font-size: 3em;
  color: rgb(20, 19, 68);
  margin: 0;
  text-shadow: 0px 0px 5px white;
}




h3{
    text-shadow: 0px 0px 5px white;
}

.buttonGoBot{
  border-radius: 10px;
    height: 2rem;
    width: 6rem;
    color: black;
}